datasets==4.7.0+computecanada
emoji==2.15.0+computecanada
joblib==1.5.3+computecanada
matplotlib==3.10.8
nltk==3.9.3
numpy==2.4.3
pandas==3.0.1
scikit_learn==1.8.0
scipy==1.17.1
sentence_transformers==5.3.0
torch==2.10.0+computecanada
torch_geometric==2.7.0
tqdm==4.67.3+computecanada
transformers==5.3.0+computecanada
